/*------------------------------------
 * sext-vi
 *
 * @author linghua.zhang@me.com
 * @link http://lhzhang.com/
 * @update 2015-07-24
 *
 * |/ | (~ (~
 * |\.|._)._)
 * --------------------------------- */

@import url(/media/fonts/telex-regular.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);
@import url(//code.cdn.mozilla.net/fonts/fira.css);
@import "media-queries";
@import url(/media/css/tomorrow.css);

$font-name: "telexregular";
$font: $font-name, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$monospace: "Fira Mono", monospace;
$label-font: $font-name, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
$time-font: "Ubuntu", monospace;
$background-color: #f9f9f9;
$dark-background-color: #222;
$dark-color: #999999;
$dark-code-barkground-color: #1d1d1d;
$dark-title-barkground-color: #ccc;

@mixin page {
  margin: 0 auto;
  @include min-screen(320px) { width: 300px; }
  @include min-screen(375px) { width: 350px; }
  @include min-screen(414px) { width: 400px; }
  @include min-screen(800px) { width: 750px; }
}

* { margin: 0; padding: 0; }
body { font-size: 14px; font-family: #{$font}; color: #555; background-color: $background-color; -webkit-font-smoothing: antialiased; }
ol, ul { list-style-position: inside; }
li { padding: .2em 0; }
hr { width: 4em; border: none; border-top: 1px dashed #d0d0d0; border-bottom: 1px dashed background-color; }
.center { text-align: center; }
::selection { color: #fff; background-color: #333; }
a { text-decoration: none; color: #bb2222; &:hover { color: #dd1144; }; }

blockquote {
 background-color: #f8f8f8; 
 padding: 0 1em; 
 border-left: 3px solid #e0e0e0; 
 font-size: 13px; 
 font-family: #{$monospace};
 line-height: 1.6; 
 display: block; 
 overflow: auto; }



code {
  padding: .4em;
  padding-top: .2em;
  padding-bottom: .1em;
  background: lighten(#5BA4E5, 32%);
  border: 1px solid lighten(#5BA4E5, 25%);
  border-radius: 3px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  vertical-align: middle;
  word-wrap: break-word;
}

pre {
  margin-bottom: 1.3em;
  padding: 1em 2.5%;
  background: lighten(#5BA4E5, 32%);
  border: 1px solid lighten(#5BA4E5, 25%);
  border-radius: 3px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: .9em;
  font-weight: normal;
  line-height: 1.3em;
  overflow:hidden;
  code {
  	padding: .0em !important;
    background-color: lighten(#5BA4E5, 32%) !important; 
    background: lighten(#5BA4E5, 32%) !important;
    border: none;
  }
}


h1, h2 { font-size: 1.4em; }
time { font-family: #{$time-font} }

header {
  @include page;
  text-align: justify;
  margin: 3em auto;
  &:after { content: ''; width: 100%; display: inline-block; }

  #header {
    display: inline-block;
    position: relative;
    top: 1em;
    h1 {
      font-family: #{$label-font};
      a { @extend a;
        color: #a9a9a9; display: block;
      }
    }
  }

  nav {
    display: inline-block;
    position: relative;
    top: 1em;
    span { margin: .5em; }
    a {
      font-family: #{$label-font}; color: $dark-title-barkground-color;
    }
  }
}

#content {
  @include page;
  line-height: 2em;
  .main-listing { margin-bottom: 2em; }
}

ul.listing {
  margin-top: 1em;
  li {
    list-style-type:none;
    padding: 0;
    &.listing-item { a { padding: .2em 0 .2em 2em; } time { color: #999; } &:hover { background-color: $background-color; } }
    &.fa-li { 
      color: $dark-title-barkground-color; 
      padding-right: 5px;
      font-family: #{$label-font};
    }
  }
}

article {
  margin: 2em 0;
  p { padding: .7em 0; }
  .title {
    font-family: #{$label-font};
    a { @extend a; color: #777; }
  }

  .meta {
    display: block;
    overflow: auto;
    margin-top: -.5em;
    font-size: .9em;
    .tags a { @extend a; color: #999999; padding: .25em; }
  }

  .post { img { max-width: 100%; display: block; margin: .5em auto; } }

  .comment { margin: 3em 0; }
  .divider {
    margin: 2em 0;

    i { margin: 0 2em; color: #e9e9e9; }

    a { @extend a;
      font-family: #{$label-font};
      margin: 0 2em;
      i { color: #999999; margin: 0; &:hover { color: #bb2222 !important; } }
    }
  }
  .divider {
    position: relative;
    font-size: 1em;
    z-index: 1;
    overflow: hidden;
    text-align: center;
  }
  .divider:before, .divider:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 49%;
    height: 2px;
    content: '\a0';
    background-color: #f0f0f0;
  }
  .divider:before { margin-left: -50%; text-align: right; }
  .divider:after { margin-left: 1%; }
}

footer {
  @include page;
  display: block;
  color: #909090;
  font-family: #{$label-font};
  font-size: .9em;
  text-align: center;
  margin: 1em auto;
  a { color: #cccccc; &:hover { color: #999999; }; }

}

#tag_cloud { margin-bottom: 1em; }

// gist
.gist { font-size: 13px; line-height:1.6; }

// like
/*.like-wrapper {
  color: #999;
  .like-button, .unlike-button { font-family: "FontAwesome"; padding-right: 5px; }
  .like-button:hover { color: #dd1144; }
  .like-button.liked:hover { color: #999; }
}*/

@media (prefers-color-scheme: dark) {
  header {
    #header {
      h1 {
        a {
          color: $dark-title-barkground-color;
        }
      }
    }
  }
  body { color: $dark-color; background-color: $dark-background-color; }
  blockquote { background-color: $dark-background-color;  border-left: 3px solid $dark-color; }
  code { background: $dark-code-barkground-color; border: 1px solid $dark-code-barkground-color; }
  pre {
    background: $dark-code-barkground-color;
    border: 1px solid $dark-code-barkground-color;
    code {
      background-color: $dark-code-barkground-color !important; 
      background: $dark-code-barkground-color !important;
    }
  }
  article {
    .title {
      a { color: $dark-title-barkground-color; }
    }
    .meta {
      .tags a { color: $dark-color; }
    }
    .divider {
      i {color: $dark-color; }
      a { i { color: $dark-color } }
    }
    .divider:before, .divider:after { background-color: #f1f1f1; }
  }
  ul.listing {
    li {
      &.listing-item { &:hover { background-color: $dark-background-color; } }
      &.year-seperator { color: $dark-title-barkground-color; }
    }
  }
  footer {
    color: $dark-color;
    a { color: $dark-color; &:hover { color: $dark-color; }; }
  }
}
